<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/images/portada1.png"
        alt="Los Angeles"
        class="d-block w-100"
      />
      <div class="carousel-caption">
        <h1>First slide label</h1>
        <p>Some representative placeholder content for the first slide.</p>
        <a href="#" class="btn boton-carousel rounded-pill">Book Now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/portada2.png"
        alt="Chicago"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Secon slide label</h1>
        <p>Some representative placeholder content for the first slide.</p>
        <a href="#" class="btn boton-carousel rounded-pill">Book Now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/portada3.png"
        alt="New York"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Three slide label</h1>
        <p>Some representative placeholder content for the first slide.</p>
        <a href="#" class="btn boton-carousel rounded-pill">Book Now</a>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="row col-10 mx-auto space">
  <div class="col-6 d-flex">
    <img src="assets/images/about1.jpg" id="image-right" alt="imagen-about1">
    
    <img src="assets/images/about2.jpg" id="image-left" alt="imagen-about2">
  </div>
  <div class="col-6">
      <h4>Competently promote sticky supply chains</h4>
      <h1>Privately unleash & "outside the box"</h1>
      <p>Enthusiastically syndicate high-quality initiatives vis-a-vis functional internal or 
        "organic" sources. Intrinsicly formulate intuitive benefits through client-based content. 
        Assertively embrace intuitive quality vectors rather than holistic process improvements..</p>
  </div>
</div>